* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
}

.banniere {
    background: linear-gradient(90deg, #667db6, #0082c8, #0082c8, #667db6);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.bienvenue {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color:rgb(1, 58, 99);
    letter-spacing: 0.1em!important;
    font-size: 1.2em;
    font-weight: 700 !important;   
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.0em !important;
    letter-spacing: 0.2em !important;
    color: hsl(208, 7%, 46%) !important;
    margin-top: 30px !important;
    margin-bottom: 15px !important;
}

#python {
    max-height: 250px;
    max-width: fit-content;
    /* border-right: 3px solid #2A6F97;
    border-bottom: 3px solid #2A6F97; */

}
/* .oc_text {
    border-right: 3px solid #2C7DA0;
} */

a {
    color:#61A5C2  !important;
    font-weight: bolder !important;
    text-decoration: none !important;
}

.left {
    float: left;
    padding: 0px 30px 10px 0px;
}

.right {
    float: right;
    padding: 0px 0px 0px 15px;
}


ul {
    border-left: 3px solid #2A6F97 ; 
}

.svg {
    height: 50px;
    max-width: fit-content;
}

#soft_skills_list {
    background: linear-gradient(90deg, #a8c0ff, #3f2b96);
    border:none;
    font-weight: bolder;
}

li > span, .blue_word {
    color: #2A6F97;
    font-weight: bolder;
}

@media screen and (max-width: 405px) {
    #python {
        margin-left:50px;
        margin-right:50px;
        margin-bottom: 10px;
}}

#centres_dinterets {
    border:none;
}

#CR, #CRU {
    color:#89C2D9;
}

/* Box shadows */
.bs_right {
    box-shadow: rgba(97, 165, 194, 0.4) 5px 5px, rgba(97, 165, 194, 0.3) 10px 10px, rgba(97, 165, 194, 0.2) 15px 15px, rgba(97, 165, 194, 0.1) 20px 20px, rgba(97, 165, 194, 0.05) 25px 25px;
}

.bs_left {
    box-shadow: rgba(97, 165, 194, 0.4) -5px 5px, rgba(97, 165, 194, 0.3) -10px 10px, rgba(97, 165, 194, 0.2) -15px 15px, rgba(97, 165, 194, 0.1) -20px 20px, rgba(97, 165, 194, 0.05) -25px 25px;
}

.bs_bottom {
    box-shadow: rgba(97, 165, 194, 0.4) 0px 5px, rgba(97, 165, 1940, 0.3) 0px 10px, rgba(97, 165, 194, 0.2) 0px 15px, rgba(97, 165, 194, 0.1) 0px 20px, rgba(97, 165, 194, 0.05) 0px 25px;
}